@{
    ViewBag.Title = "页面不存在";
}
<div class="alert alert-danger">
    <h4>@ViewBag.ErrorMessagebox</h4>
    <h4>路径: @ViewBag.Path</h4>
    <h4>参数: @ViewBag.Qs</h4>
</div>
<a asp-controller="home" asp-action="index" class="btn btn-success" style="width:auto">点此返回首页</a>
