@model IEnumerable<Student>

@{ ViewBag.Title = "学生列表页面"; }

<div class="card-deck">
    @foreach (var student in Model)
    {
        var photoPath = "/images/" + (student.PhotoPat ?? "noimage.png");
        <div class="col-lg-4 col-md-6 p-0">
            <div class="card m-3">
                <div class="card-header">
                    <h3 class="card-title">@student.Name</h3>
                </div>
                <img class="card-img-top imageThumbnail" asp-append-version="true" src="@photoPath" />


                <div class="card-body text-center">
                    <h5 class="card-title">班级：@student.ClassName</h5>
                </div>

                <div class="card-footer text-center">
                    <!--student.Id -->
                    <a asp-controller="Home" asp-action="Details" asp-route-id="@student.Id" class="btn btn-primary m-1">查看</a>

                    <a href="#" class="btn btn-primary m-1">编辑</a>
                    <a href="#" class="btn btn-danger m-1">删除</a>
                </div>
            </div>
         </div>
            }

        </div>



